body{
	font-size: 16px;
}

h1{
	text-align: center;
	font-size: 1.75em;
}

.title{
	box-sizing: border-box;
	border: 1px solid black;
	font-size: 1.25em;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 2px 20px;
}

p {
	margin-top: 1.5em;
	padding: 10px 10px 10px 10px;
}

#section1 {
	background-color: #d68acd;
}

#section2 {
	background-color: #ee4e37;
}

#section3 {
	background-color: #058bcb;
}

/* Simple Responsive Framework. */
.row {
	background-color:  #bae4f8;
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
	position: relative;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 20px;
}

/********** Desktop version only **********/
@media (min-width: 992px) {
	.col-lg-1 {
		width: 31%;
	}
}

/********** Tablet version only **********/
@media (min-width: 768px) and (max-width: 991px) {.col-md-1, .col-md-2
	.col-md-1 {
		width: 48%;
	}
	.col-md-2 {
		width: 98%;
	}
}

/********** Mobile version only **********/
@media(max-width: 767px) {
	.col-xs-1 {
		width: 98%;
	}
}
